$hover-color: #00a8ff;

* {
  color: white;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: auto;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  background: rgb(21, 21, 21);
}

h1 {
  font-size: 1.5rem;
}

.directory {
  width: 300px;
  margin: 40px 0px 0px 40px;
  border: 1px solid rgb(151 151 151);

  .header {
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.8);
  }
}

.title {
  display: flex;
  align-items: center;
  cursor: pointer;

  svg {
    margin-right: 5px;
  }
  p {
    margin: 0;
    font-weight: bold;

    &:hover {
      color: $hover-color;
    }
  }
}

.controls {
  display: flex;
  justify-content: center;
  cursor: pointer;

  > span {
    margin-right: 10px;

    svg {
      fill: rgba(255, 255, 255, 0.6);
      transition: all 0.2s ease-in-out;

      &:hover {
        fill: rgba(255, 255, 255, 1);
      }
    }

    &:last-child {
      margin: 0;
    }
  }
}

.content {
  padding: 10px 16px;
}

.node {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
  margin-top: 10px;

  .entry {
    display: flex;
    justify-content: space-between;

    .controls {
      flex: 1;
      opacity: 0;
      justify-content: flex-end;
    }

    .title {
      p {
        font-weight: 400;
      }

      input {
        color: rgb(21, 21, 21);
        border: 1px solid transparent;
      }

      .error {
        position: relative;

        input {
          border: 1px solid #c23616;
        }

        > div {
          position: absolute;
          top: 22px;
          left: 0;
          padding: 5px;
          border-radius: 4px;
          background: #c23616;
          color: white;
          width: max-content;
        }
      }
    }

    &:hover {
      .controls {
        opacity: 1;
      }
    }
  }

  &:first-child {
    margin-top: 5px;
  }

  .node_contents {
    display: flex;
    flex-direction: column;
  }
}
